<section class="rental-landing-page">
  <section class="header">
    <section class="logo-contact">
      <h1>Dorrela</h1>
      <a href="tel:8607326044">+918607326044</a>
    </section>

    <section class="form">
      <section class="header-info">
        <h3>Dorrela Hai To Mumkin hai</h3>
        <h4>Book your rental Car with Dorrela</h4>
        <button>Book Now</button>
      </section>

      <section class="rental-form">
        <h3>Book rental</h3>
        <input type="text" placeholder="Enter your name" />
        <input type="text" placeholder="Enter your name" />
        <input type="text" placeholder="Enter your name" />
        <input type="text" placeholder="Enter your name" />
        <button>Book Your Ride</button>
      </section>
    </section>
  </section>
</section>
